<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>

<body>
        <%= resBody %>
    <script src="../layui/layui.js"></script>
</body>

</html>